.App {
  text-align: center;
  background: linear-gradient(135deg, #f0e68c, #f5deb3, #ffe4b5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

